<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config />

	<!-- security -->
	<context:component-scan
		base-package="$com.ss4o.archetype_core"
		name-generator="$com.ss4o.archetype_core.security.UserAttributeLoaderGenerator">
	</context:component-scan>

	<!-- component -->
	<context:component-scan
		base-package="$com.ss4o.archetype_core"
		name-generator="$com.ss4o.archetype_core.security.UserAttributeLoaderGenerator"
		scope-resolver="$com.ss4o.archetype_core.spring.SpringProtoTypeScopeResolver">
		<context:include-filter type="regex" expression=".*\.impl\..*ComponentImpl"/>
	</context:component-scan>

	<!-- loader -->
	<context:component-scan
		base-package="$com.ss4o.archetype_core"
		name-generator="$com.ss4o.archetype_core.security.UserAttributeLoaderGenerator">
		<context:include-filter type="regex" expression=".*\.impl\..*LoaderImpl"/>
	</context:component-scan>
</beans>